/*
DESKTOP SIZE
================================================ */
@media (min-width: 375px) and (max-width: 768px) {
    #main h1 {
    font-size: 3.5rem;
  }
  
  /* 배경 */
  .lg-text {
    font-size: 1.4rem;
  }
  /* about me */
  .about-con {
    display: flex;
    flex-direction: column;
  }
  .about-con img {
    margin-bottom: 2rem;
  }
  .about-text {
    text-align: center;
  }

  /* skills */
  .skills-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .skills-list img {
    width: 20%;
  }

  /* project */
  .project-list {
    flex-direction: column;
  }
  .project-list.reversed {
    flex-direction: column-reverse;
  }
.project-text {
  word-break: keep-all;
}
h2 {
  font-size: 4.5rem;
  font-weight: 700;
  margin-bottom: 4rem;
}
#project img {
  width: 100%;
  margin-bottom: 2rem;
}

}