/*HEADER
================================================ */
header {
  padding: 1rem 0;
  position: fixed;
  width: 100%;
  z-index: 1;
  top: 1.5rem;
}
header .wrapper {
  display: flex;
  padding: 1rem;
  justify-content: space-between;
  border-top: 2px solid black;
  border-bottom: 1px solid black;
}
.logo {
  font-size: 1.2rem;
  font-weight: bold;
}
.btn-menu {
  top: 12px;
  right: 12px;
  border: 1px solid lightgray;
  padding: 0.5rem 1rem;
}
.main-nav {
  width: 0;
  position: absolute;
  z-index: 2;
  right: 0;
  overflow: hidden;
  transition: 0.5s;
}
.main-nav li {
  text-align: center;
  margin: 2rem 0;
}
.main-nav a {
  display: block;
}
.main-nav.open-menu {
  width: 15%;
}

/* 메인 타이틀================================================ */
#main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
}
#main h1 {
  font-weight: bold;
  font-size: 8rem;
  margin-bottom: 10px;
}
#main-effect {
  position: relative;
  display: inline-block;
}
#main-effect::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: -10px;
  width: 3px;
  height: 100%;
  background-color: black;
}
#main-effect.active::after {
  display: none;
}
.lg-text {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 10px;
}

/* ABOUT ================================================ */
#about {
  padding: 4rem 1rem;
  height: 100vh;
  display: flex;
  justify-content: center;
}
#about .about-text p {
  margin-bottom: 1rem;
  font-size: 1.2rem;
}
.about-con {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

/*
skills
================================================ */
#skills {
  padding: 4rem 1rem;
  height: 100vh;
  text-align: center;
}

.skills-list {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px;
  width: 100%;
}

/*
project
================================================ */
#project {
  padding: 4rem 1rem;
  text-align: center;
}
.project-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 300px;
}
.project-text {
  width: 50%;
}
#project img {
  width: 50%;
}
.project-text a {
  position: relative;
  font-size: 2rem;
  font-weight: bold;
  align-items: center;
  padding: 5px 0;
}
.project-text p {
  margin-top: 1rem;
}
.project-text a::after {
  content: "";
  display: block;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: black;
  transform: scaleX(0);
  transform-origin: 0 50%;
  transition: transform 0.4s cubic-bezier(0.2, 1, 0.8, 1) 0.1s;
  width: 100%;
}
.project-text a:hover::after {
  transform: scaleX(1);
}

/*
contact
================================================ */
#contact {
  padding: 6rem 0;
}
#contact h2 {
  text-align: center;
}

.contact-form {
  background-color: whitesmoke;
  padding: 2rem;
  border-radius: 10px;

  max-width: 480px;
  margin: 0 auto 5rem;
}
.contact-form label {
  display: block;
  margin-bottom: 0.5rem;
}
.contact-field {
  background: rgba(255, 255, 255, 0.6);
  padding: 1rem;
  width: 100%;
  margin-bottom: 1.5rem;
}
.contact-btn {
  background: lightgray;
  color: gray;
  display: block;
  width: 100%;
  padding: 1rem;
  margin-top: 1rem;
}

/*
FOOTER
================================================ */
.footer {
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  padding-top: 2rem;
  text-align: center;
  font-size: 0.875rem;
}
.footer a {
  text-decoration: underline;
}
